.container {
    left: 15%;
    position: fixed;
    height: -moz-calc(100% - 150px - 52px);
    /* Firefox */
    height: -webkit-calc(100% - 140px - 52px);
    /* Chrome, Safari */
    height: calc(100% - 140px - 52px);
    /* IE9+ and future browsers */
    top: 140px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 85%;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dash_box {
    width: 12.5%;
    color: teal;
    text-align: center;
    margin: 20px 0 0 1.7%;
    height: 106px;
    background: white;
    border: 1px solid rgba(0, 0, 0, .7);
    float: left;
    border-radius: 5px;
}

.dash_box:hover {
    box-shadow: 0 0 10px black
}

.dash_box a {
    font-size: 14px;
    color: black;
    padding: 0px;
}

.dash_box a:hover {
    text-decoration: none;
}

.dash_box .icon {
    color: teal;
    height: 60px;
    font-size-adjust: 0.5;
    margin: 0;
    width: 100%;
    padding: 10px;
}

.dash_box .sm-icon {
    font-size: 14px;
    vertical-align: baseline;
    text-align: right;
}

.dash_inner_half {
    width: 50%;
    height: 45px;
    float: left;
    position: relative;
    border: 1px solid gray;
    font-weight: 500;
    font-size: 20px;
    line-height: 2.2
}

.link_text {
    width: 100%;
    font-size: 14px;
    background: teal;
    color: white;
    position: relative;
    height: 40px;
    border-radius: 0 0 4px 4px;
    line-height: 3;
}

.dash_box .link_text:hover+.dash_box .sm-icon {
    font-size: 14px;
    padding: 10px;
}

.user_chip {
    width: 32%;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin: 20px .6%;
    height: 130px;
    background: #f0ffd0;
}

.user_chip .img_box {
    width: 30%;
    float: left;
    border-right: 1px solid green;
}

.user_chip .img_box img {
    width: 100%;
    height: 128px;
    border-radius: 10px 0 0 10px;
}

.user_chip .details_box {
    width: 64%;
    float: left;
    padding: 8px;
}

.user_chip .details_box .details {
    padding: 2px;
    font-size: 16px
}

th {
    background-color: teal;
    color: white;
}

.inp {
    width: 50%;
    float: left;
    font-size: 22px
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 768px) {
    .container {
    position: relative;top:0px;left:0;overflow-y: auto;overflow-x: hidden;width: 100%;float: left;height: 100%;
    z-index: 1;padding-top: 20px;padding-bottom: 20px;
    /*height: -moz-calc(100% - 120px - 53px);
    height: -webkit-calc(100% - 110px - 53px);
    height: calc(100% - 110px - 53px);*/
    
    }
    .dash_box {
        width: 48%;
        color: teal;
        text-align: center;
        margin: 2% 0 0 2%;
        height: 100px;
        background: white;
        border: 1px solid rgba(0, 0, 0, .7);
        float: left;
    }
    .dash_box a {
        font-size: 14px;
        color: black;
    }
    .dash_box .icon {
        font-size: 50px;
        color: teal;
        height: 68px;
        font-size-adjust: 0.5;
        margin: 0;
        width: 100%;
        padding: 3px;
    }
    .dash_inner_half {
        width: 50%;
        height: 34px;
        float: left;
        position: relative;
        border: 1px solid gray;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5
    }
    .dash_box .sm-icon {
        font-size: 14px;
        vertical-align: baseline;
        text-align: right;
    }
    .link_text {
        width: 100%;
        font-size: 14px;
        background: teal;
        color: white;
        position: relative;
        height: 30px;
        line-height: 2.5;
    }
    .user_chip {
        width: 98%;
        margin: 20px 0 0 0;
    }
    .hidden-sm {
        display: none;
    }
    .enterid {
        width: 100%;
        font-size: 18px;
        padding: 10px;
        float: left;
        text-align: right;
        height: 50px;
    }
    .enterid input,
    .enterid select,
    .enterid option {
        min-width: 100%;
        padding: 2px;
        font-size: 18px;
        float: left;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}